@import "tailwindcss";

.container2 {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 1400px) {
    .container2 {
        width: 1350px;
    }
}

.btn {
    background: #06f;
    color: #fff;
    transition: 0.1s;
}

.btn:active {
    transform: scale(0.98);
}

.swiper-pagination-bullet {
    background-color: white !important;
    border-radius: 0 !important;
    height: 3px !important;
    width: 30% !important;
}


.banner {
    background: url("../src/assets/img/banner-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}